html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none;
  color: lightblue; 
  vertical-align: middle; 
}

a:visited { text-decoration: none; color: plum; }
a:hover { text-decoration: none; color:orange; }
a:focus { text-decoration: none; color:orange; }
a:active { text-decoration: none; color:teal; }

body {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  color: #fff;
  font-family: "Source Code Pro", monospace;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #333;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}

.sidebar a.active {
  font-weight: bold;
}

.sidebar a:hover {
  color: #bbb;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 200px;
  padding: 20px;
}

header {
  text-align: center;
  padding: 50px 0;
}

main {
  max-width: 800px;
  margin: 50px;
  padding: 0 20px;
}

footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  
  header {
    font-size: 32px;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    padding: 10px;
  }
}
