*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic', Arial, sans-serif;
    font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to left, #55aacb, #063b74);
  background-attachment: fixed;
}

.clock-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 100px);
}

.clock-grid > button {
  cursor: pointer;
  font-size: 2rem;
  margin: 20%;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.clock-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.title {
  text-align: center;
  margin: 3%;
  font-size: 70px;
}

.name {
  text-align: center;
  font-size: 50px;
}

.percentage {
  text-align: center;
  font-size: 50px;
}

.reset-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(1, 200px);
  grid-template-rows: repeat(1, 80px);
}

.reset-grid > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.reset-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}